
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ana Sayfa</h1>
<img src="~/Content/img/logo2.png"  alt="resim" class="img-left"/ >
<p>Ürünlerimiz 2.el kaliteli ve güvenilirdir.</p>
<p>Bakması Paralıdır </p>

    
   
