
@{
    ViewBag.Title = "Satış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Satış</h2>
<img src="~/Content/img/3-1.jpg" alt="resim" class="img-left"/ >
<p>BU ÜRÜN 1.400 ₺ </p> 
<img src="~/Content/img/Bursa-İkinci-El-Eşya-Alan-Yerler.jpg"alt="resim" class="img-circle" />



