
@{
    ViewBag.Title = "Hakkınmızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Since 1996 
   <p> Aile Tarafından yönetilmektedir</p>
    <p>Bizi tercih ettiğiniz için teşekkür ederiz</p>
        Mete Polat 
</h2>

